.hero {
  background-image: url(../images/background.png);
  color: white;
  grid-row-start: 1;
  /* padding-block: 100px; */
  padding-inline-start: 30px;
  block-size: 814px;
}

.hero-content {
  /* border: 10px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-cabecera {
  /* border: 1px solid orange; */
  font: var(--headline3);
  color: var(--white);
  margin-block-end: 24px;
}


.hero-parragra {
  /* border: 1px solid red; */
  font: var(--body1-regular);
  color: var(--grey);
  margin-block-end: 24px;
}

.hero-enlace{
  margin-block-start: 24px;
  color: var(--grey);
  font: var(--body1-regular);
  /* border: 1px solid yellow; */
}