.smile {
    /* border: 1px solid blue; */
    block-size: 900px;
    display: flex;
    justify-content: center;
    
}


.smile-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.smile-content img {
    block-size: 371px;
    inline-size: 371px;
}

.smile-cabecera {
    font: var(--headline2);
    color:var(--black) ;
}

.smile-parragra {
    font: var(--body1-regular);
    color:var(--grey) ;
}